@import url(https://fonts.googleapis.com/css?family=Rubik&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Rubik, sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}

nav {
  height: 90px;
  display: flex;
  align-items: center;
  padding: 10px;
}

nav .box-img {
  width: 30%;
}

nav .box-img img {
  width: 45%;
}

nav .box-list {
  width: 70%;
  display: flex;
  justify-content: flex-end;
}

nav .box-list ul {
  display: flex;
  list-style: none;
}

nav .box-list ul li {
  margin: 0 10px 0 30px;
  text-transform: uppercase;
  font-size: 0.88em;
}

nav .box-list ul li:hover {
  border-bottom: 2px solid #61CE4E;
}

nav .box-list ul li a {
  color: #1b3c59;
}

nav .box-list ul li a.btn {
  background-color: #61CE4E;
  padding: 10px 30px;
  color: white;
  border-radius: 5px;
  font-size: 1.25em;
}

nav .box-list ul li a {
  padding: 10px 15px;
}

